<!--Header for Cambodian Minesweeper Web page-->

<header>
	<div>
		<a href="#"><h1 class="site-title"><i class="fa fa-bomb"></i>Cambodian Minesweeper</h1></a>
		<ul class="navlist">
			{{#each headerData}}
				<li class="navitem"><a href="{{link}}">{{title}}</a></li>
			{{/each}}
		</ul>
	</div>
</header>
