<!--This will be the account registration page.-->

<main class="register-page">
  <div class="register-container">
    <h1 class="register">Create an Account</h1>

    <label for="email"><b>Email</b></label>
    <input type="text" name="email" placeholder="Enter email" required>

    <label for="password"><b>Password</b></label>
    <input type="password" name="password" placeholder="Enter password" required>
	<input type="password" name="duplicatePassword" placeholder="Retype Password" required>

    <button onclick="sendRegisterMessage()">Register</button>
  </div>
</main>

<script src="/static/registerView.js"></script>
