<script src="/static/resultsView.js"></script>
<div class="reportTable-container">
  <button class="email-report-button" onclick="mailCurrentLink('Cambodian Landmine Report', 'Here is a report for Cambodian landmines...')">Email Report</button>
  {{> reportsTable}}
</div>
